/* raleway font import */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.active {
  @apply border-x-2 border-white;
}

.filter-white {
  filter: invert(100%) sepia(1%) saturate(7497%) hue-rotate(259deg)
    brightness(100%) contrast(103%);
}

.clip1 {
  clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
}

.clip2 {
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 60%);
}

.clip3 {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}
